.button{
    display: flex;
    justify-content: flex-end;margin-bottom: 10px;
}
.bbb{
    background-color: #b44c97;
    color:#ffff;
    width: 150px;
}
.open{
    background-color: #b44c97;
    color:#ffff;
    width: 150px;
}

.iconbox{
    display: flex;
    justify-content: flex-end;margin-bottom: 10px;   
}

.search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box{ 
    position: relative;
    left: 10%;
}
input.kensaku{
    width: 70%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.iconarea{
    border: solid;
    width: 240px;
    padding: 10px;
    margin-top: 5px;
    display: none;
}

.icon{
    height: 75px;
    width: 75px;
}
.submit {
    width: 12%;
    height: 7%;
    display       : inline-block;
    border-radius : 7%;          /* 角丸       */
    font-size     : 10pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 10px;   /* 余白       */
    background    : #b44c97;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 4px 4px 2px #666666;  /* 影の設定 */
    border        : 1px solid #b44c97;    /* 枠の指定 */
  }
  .submit:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #b44c97;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }