html{
    height: 100%;
}
body{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.move{
    flex: 1;
    overflow-y: auto;
    background-color: aliceblue;
}

.chattext{
    font-size: 32px;
    word-break: break-word; /*改行*/
    border: solid 5pt greenyellow;
    background-color: greenyellow;
    width: 500px;
     
}
.mytext{
    font-size: 32px;
    word-break: break-word; /*改行*/
    border: solid 5pt lightgreen;
    background-color: lightgreen;
    width: 500px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

#first{
    display: none;
}

.lock{
    width: auto;
    height: auto;
    border-top: solid 3px skyblue;
}
.bbb{
    position: relative;bottom: 40px;
    width: auto;
    height: auto;
    display       : inline-block;
    border-radius : 7%;          /* 角丸       */
    font-size     : 10pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 10px;   /* 余白       */
    background    : #eaf4fc;     /* 背景色     */
    color         : #203744;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 4px 4px 2px #666666;  /* 影の設定 */
    border        : 1px solid #eaf4fc;    /* 枠の指定 */
}
.bbb:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #203744;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

.uline{
    text-decoration: underline red;
}