body{
  background-color:#f5f5dc;
  width:fit-content;
  }
.icon{    /* 画像のサイズ調整 */
  position: relative; top: 0%; left: 0%; 
  height: 90px;
  width: 90px;
  margin-bottom: 40px;
}
.iconarea{
  border: solid;
  height: 150px;
  width: 300px;
  display: none;    /* //ページ読み込み時は非表示 */
  color:rgb(112, 112, 112);
  position: absolute;left: 100px;bottom: 50px;
}
.open{
  height: 60px;
  width: 60px;

}
.pop{
  position: relative; top: 10px;
  width: 50px;
  margin: 15px;
}
.window{
  position: relative; top:160px;
}

.btn {
  float: left;
  width: 110px;
  padding: 5px;
  margin-left: 25px;
  background: #93b881;
  color: #111111;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 20px;
 }
 .btn:active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
 }
