body{
    background-color: #513743;
}
.bbb {
    position: relative;
    border-collapse:  collapse;
    top: 20px;
    font-size: 18px;
    width: 15%;
    height: 55px;
    padding: 0%;
    margin-right: auto;
    max-width: 30%;
    background-color: #b44c97;
    border: solid 3px;
    border-color: black;
    /*左上*/
    border-top-left-radius:70px;
    /*右上*/
    border-top-right-radius:70px;
    /*左下*/
    border-bottom-left-radius:70px;
    /*右下*/
    border-bottom-right-radius:70px;
    margin-right: 10px;
    max-height: 10%;
    color: #e7e7eb;
    
}

.text{
    background: white;
}

.aaa{
    color: #e7e7eb;
}