.aaa{
    width: auto;
    min-width: 800px;
    max-height: 20%;
    border-collapse: collapse;
    border:1px solid #000000;
    background-color:#513743;
    color:#000000;text-align:left;
}

.bbb{
    width: auto;
    border:1px solid beige;
    text-align:center;
    height: 180px;
    font-size: 80px;
    white-space: nowrap;
}


.ddd{
    text-align: center;
}
