.meeting{
    position: relative; top:100px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}
.roomid{
    position: relative; top: 120px;
    text-align: center;

}
.passid{
    position: relative; top: 140px;
    text-align: center;
}

input.ggg{
    width: 400px; height: 50px;
    background-color: #59b9c6;
    border: #59b9c6;
    font-size: 20px;
    border-radius: 9px;
    color: #ffffff;
}
div.kiroku{
    position: relative; left: 43%; top: 150px;
    font-size: 12px;
}
.creat{
    position: relative; top: 170px;
    text-align: center;
}
button.creatbutton{
    width: 70px; height: 30px;
    background-color: #007bbb;
    border: #007bbb;
    border-radius: 9px;
    color: #fff;
}
.url{
    position: relative; top: 190px;
    text-align: center;
}


input.sample{
    width: auto;
    background-color: #ffffff;
    color:#ffffff;
    outline:none;
    box-shadow: none;
    text-shadow: none;
    border: #ffffff;
    font-size: 17px;

}