body{
    background-color: #513743;
}
h1{
    color: #ffff;
    text-align: center;
    margin-top: 100px;
}
.zoon{
    text-align: center;
    
    margin-left:auto;
    margin-right:auto;
}

.bb1{
    position: relative;
    border-collapse:  collapse;
    top: 200px;
    font-size: 25px;
    width: 20%;
    height: 50px;
    padding: 0%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    max-width: 20%;
    color: #ffff;
    background-color: #b44c97;
    border: solid 0px;
    border-radius: 9px;

}
