body{
    background-color: #513743;
}
.meeting{
    position: relative; top:100px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}
.roomid{
    position: relative; top: 120px;
    text-align: center;

}
.passid{
    position: relative; top: 140px;
    text-align: center;
}

input.ggg{
    width: 400px; height: 50px;
    background-color: #cca6bf;
    border: #cca6bf;
    font-size: 20px;
    border-radius: 9px;

}
div.kiroku{
    position: relative; left: 43%; top: 150px;
    font-size: 12px;
}
.creat{
    position: relative; top: 170px;
    text-align: center;
}
button.creatbutton{
    width: 70px; height: 30px;
    background-color: #cca6bf;
    border-radius: 9px;
}
.url{
    position: relative; top: 190px;
    text-align: center;
    color: #513743;
}


input.sample{
    width: auto;
    background-color: #513743;
    color:#513743;
    outline:none;
    box-shadow: none;
    text-shadow: none;
    border: #513743;
    font-size: 17px;

}