.bbb{
    position: relative;
}
.mokuji {
    position: relative; left: 0; top: 0;
    background: #ffff;
    text-align: center;
}
.news{
    position: relative; top: 20px;
    text-align: center;

}