.bbb{
    position: relative;
}
.mokuji {
    position: relative; top: 10px;
    background: #ffff;
    text-align: center;
}
.news{
    position: relative; left: 300px; top: 20px;
    text-align: center;
    max-width:max-content;
}