body{


    background-color: #513743;
}
.bbb {
    position: relative;
    border-collapse:  collapse;
    top: 20px;
    font-size: 15px;
    width: 30%;
    height: 70px;
    padding: 0%;
    margin-right: auto;
    max-width: 30%;
    background-color: #b44c97;
    border: solid 3px;
    /*左上*/
    border-top-left-radius:70px;
    /*右上*/
    border-top-right-radius:70px;
    /*左下*/
    border-bottom-left-radius:70px;
    /*右下*/
    border-bottom-right-radius:70px;
    margin-right: 10px;
    
}

.example{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    
}

.aaa{
    text-align: center;
    
    margin-left:auto;
    margin-right:auto;
}

.ccc{
    width: 600px;
    background: #e7e7eb;
    padding: 30px;
    margin: 200px auto;
    border-radius: 5px;
    height: 250px;
    border: 2px solid gray;
}


.zzz{
    text-align: left;
    font-size: 50px;
    margin: 0%;
}